{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>КАРЗИНА</title>
    <link rel = 'stylesheet' type="text/css" href = '{% static "style.css" %}'>
    <img src="{% static '/IMG_20240521_094111.jpg' %}" alt="My image" height="20px" width="1470px"/>

</head>
<body>
    <h2>КАРЗИНА ПОКУПОК</h2>
    <cars>
        <img src="{% static '/scale_1200.jpg' %}" alt="My image" height="200px" width="300px"/>
        <h1>ТОВАР В КАРЗИНУ ДОБАВЛЕН</h1>
        <button>
        <a href="http://127.0.0.1:8000/infoobshee/">ВЕРНУТЬСЯ НА ГЛАВНУЮ СТРАНИЦУ</a>
        </button>
        <p>***</p>
        <button>
        <a href="http://127.0.0.1:8000/nametov/">ВЕРНУТЬСЯ В МАГАЗИН</a>
        </button>
    </cars>

</body>
</html>

