{% extends "menu.html" %}


{% block title %}Home - {{ block.super }}{% endblock %}

{% block pivetctvie %}
    {{ block.super }}
    <p>**********************************************************************************************</p>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock%}

{% block content %}
    <h2>НАШИ ПРИЕМУЩЕСТВА</h2>***
    <h2>Для изготовления продукции используем только природное сырье</h2>
    <h2> Быстрое оформление заказа</h2>
    <h2> Быстрая доставка покупателю</h2>
{% endblock %}

{% block section %}
    <p>Контакты::</p>
    <p>т. 8-800-90000000</p>
    <p>Адрес: 620000, г. Новосибирск, ул. Ленина, 5 </p>
{% endblock %}

{% block info %}

    <p>Закажитe разработку сайта у нас! 8-800-0000009</p>
    {{ block.super }}
{% endblock %}