{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ДОБРО ПОЖАЛОВАТЬ В МАГИЗИН БРУСНИКА!</title>
    <link rel = 'stylesheet' type="text/css" href = '{% static "style.css" %}'>
    <img src="{% static '/IMG_20240521_094111.jpg' %}" alt="My image" height="20px" width="1470px"/>
</head>
<header>
    <h1>Приятных покупок в магазине "БРУСНИКА!"</h1>
    <p>*************************************************************</p>
    <maslo>
        <h2>МАСЛО ЛЬНЯНОЕ 500 мл.</h2>
        <p>состав: Масло льняное 100%. Первый холодный отжим. Омега3.</p>
        <img src="{% static '/IMG_20240409_133126 — копия.jpg' %}" alt="My image" height="200px" width="200px"/>
        <h2>Цена: 400 р. </h2>
        <button>
        <a href="http://127.0.0.1:8000/len/">КУПИТЬ</a>
        </button>
    </maslo>
    <p>********************************р.<p>
    <smola>
        <h2>СМОЛКА ЛИСТВЕННИЧНАЯ 5 гp.</h2>
        <p>состав: смола листвиницы.</p>
        <img src="{% static '/IMG_20240403_172638.jpg' %}" alt="My image" height="200px" width="200px"/>
        <h2> Цена: 95 р. </h2>
        <button>
        <a href="http://127.0.0.1:8000/cmolka/">КУПИТЬ</a>
        </button>
    </smola>
    <p>********************************</p>
    <hai>
        <h2>ЧАЙ КАВКАЗСКИЙ ДОЛГОЖИТЕЛЬ "ПРИЭЛЬБРУСCКИЙ" 60гр.</h2>
        <p>состав: Крупнолистовой чай из Кавказских трав. сбор: Приэльбрусье.</p>
        <img src="{% static '/IMG_20240403_174111.jpg' %}" alt="My image" height="200px" width="200px"/>
        <h2>Цена: 380 р. </h2>
        <button>
        <a href="http://127.0.0.1:8000/chai/">КУПИТЬ</a>
        </button>
    </hai>
    <p>********************************</p>
    <balz>
        <h2>БРОНХОЛЕГОЧНЫЙ БАЛЬЗАМ 100мл.</h2>
        <p>состав: Масло кедровое, травы, живица кедровая.</p>
        <img src="{% static '/IMG_20240403_173131.jpg' %}" alt="My image" height="200px" width="200px"/>
        <h2>Цена: 850 р. </h2>
        <button>
        <a href="http://127.0.0.1:8000/bronxo/">КУПИТЬ</a>
        </button>

    </balz>
    <p>********************************</p>
    <voda>
        <h2>ВОДА ПРОПОЛИСНАЯ 50мл.</h2>
        <p>состав: водный отвар прополиса пчелиного, экстракты трав.</p>
        <img src="{% static '/IMG_20240409_134913.jpg' %}" alt="My image" height="200px" width="200px"/>
        <h2>Цена: 400 р. </h2>
        <button>
        <a href="http://127.0.0.1:8000/vodaprop/">КУПИТЬ</a>
        </button>
    </voda>
    <p>********************************</p>
</header>
    <a href="http://127.0.0.1:8000/infoobshee/">ВЕРНУТЬСЯ НА ГЛАВНУЮ СТРАНИЦУ</a>
    <a href = "http://127.0.0.1:8000/carzina/">ПЕРЕЙТИ В КОРЗИНУ ПОКУПОК</a>
     <img src="{% static '/IMG_20240521_094111.jpg' %}" alt="My image" height="20px" width="1470px"/>
</html>