{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ВОДА ПРОПОЛИСНАЯ</title>
    <link rel = 'stylesheet' type="text/css" href = '{% static "style.css" %}'>
    <img src="{% static '/IMG_20240521_094111.jpg' %}" alt="My image" height="20px" width="1470px"/>
</head>
<body>
    <h2>ВЫ КУПИЛИ</h2>
    <h2> ВОДА ПРОПОЛИСНАЯ "МУЛЬТИ".</h2>
    <img src="{% static '/IMG_20240409_134913.jpg' %}" alt="My image" height="200px" width="200px"/>
    <p>Цена 400р.</p>

    <a href="http://127.0.0.1:8000/infoobshee/">ВЕРНУТЬСЯ НА ГЛАВНУЮ СТРАНИЦУ</a> *
    <a href = "http://127.0.0.1:8000/carzina/">ПЕРЕЙТИ В КОРЗИНУ ПОКУПОК</a> *
    <a href = "http://127.0.0.1:8000/nametov/">ВЕРНУТЬСЯ В МАГАЗИН</a> *
</body>
</html>